@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}

<div style="width:90%;margin:auto" class="mt-2">
    @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
    {
        <h5>Koszyk</h5>

        <table class="table table-striped">
            <tr>
                <th>Książka</th>
                <th>Zdjęcie</th>
                <th>Gatunek</th>
                <th>Cena (PLN)</th>
                <th>Całkowita cena</th>
                <th>Ilość</th>
            </tr>
            @foreach (var item in Model.CartDetails)
            {
                <tr>
                    <td>@item.Book.BookName</td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Book.Image))
                        {
                            <img src="/images/NoImage.png" style="width:80px;height:100px" />
                        }
                        else
                        {
                            <img src="/images/@item.Book.Image" style="width:80px;height:100px" />
                        }
                    </td>
                    <td>@item.Book.Genre.GenreName</td>
                    <td>@item.Book.Price </td>
                    <td>@(item.Book.Price * item.Quantity)</td>
                    <td>
                        <a class="btn btn-info" href="/Cart/AddItem?bookId=@item.BookId&&redirect=1">+</a>
                        <a class="btn btn-info" href="/cart/removeitem?bookid=@item.BookId">-</a>
                        <a>@item.Quantity</a>
                    </td>
                </tr>
            }
        </table>

        <div class="my-2">
            <h5>Należność (PLN): </h5>
            @(Model.CartDetails.Select(item => item.Book.Price * item.Quantity).Sum())
        </div>

        

    }
    else
    {
        <h5>Koszyk jest pusty</h5>
    }
</div>

